/* your beautiful css styling goes here! */
body, html{
  height: 100%;
}

body{
  padding: 1em;
  font-family: arial;
  font-weight: 600;
  font-size: 1.3em;
  background-image: url('http://kingofwallpapers.com/space/space-019.jpg');
  background-size: 100% 100%;
}

.highscore{
  color: green;
}

.current{
  color: white;
}

.collisions{
  color: red;
}

.spaceship {
  background-image: url('http://exchangedownloads.smarttech.com/public/content/86/8653bcde-3464-4e94-a0e0-f317350b624c/previews/medium/0001.png');
}

.rotate {
  animation-duration: .1s;
  animation-name: rotation;
  animation-iteration-count: infinite;
  transform: rotate(30deg);
  transform-origin: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
